body {
  padding: 0;
  margin: 0;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  /*height: 400px;  /* or as desired */
  height: 50%;

}

#map-container{
height: 100%;

}

h1 {
  text-align: center;
}
}