<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disease Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/example">Am I Dying Inc.</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/example">Diagnostic Test</a></li>
      <li><a href="/GetData">Disease index</a></li>
      <li><a href="/model">Our Model</a></li>
    </ul>
  </div>
</nav>

<div align = 'center' class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ABOUT THE MODEL</h1>
    <p class="lead">Using the most common standard practice within the machine learning world, our model takes into account the binary symptom and classed diagnosis data in order to output the user’s prognosis. With an accuracy score of 100% in the training and test data, our model has a credible and reliable system of diagnosing a user’s symptoms. By integrating a more in depth predict method within the model, it not only determines the most likely diagnosis, but the probability of the top three diagnoses as well.</p>
  </div>
</div>
<div align = 'center'>

  <img src="/static/images/model_gif.gif" width="750" height="500" align="middle">

</div>
