<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, charset=UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">



</head>

<body>

	<div id="page-wrap">


		<div class="navbar" style="background-color:beige;">
  <a class="active" href="/"><i class="fa fa-fw fa-Home"></i> Home</a>
  <a href="/about"><i class="fa fa-fw fa-Help"></i> About</a>
  <a href="#"><i class="fa fa-fw fa-Contact"></i> Contact</a>
	</div>



<div class="footer" style= "position: fixed;bottom: 0;left: 0; width: 100%;color: indigo;text-align:center";>

</div>


</body>

</html>